# Wildcards
.*.swp
.*.swo
*.bak
*.egg-info
*.pyc

# Unit testing cache
.coverage
.noseids

# Build-related directories
.npm-workspaces
_build
build
dist
node_modules

# Log created during unit tests
reviewboard.log
